# Build Folders
bin
bin-obj
Papaya
Sandbox
Makefile

# MacOS
*.DS_STORE
*.xcodeproj
*.xcworkspace

# VSCode
.vs_code
.vs
.vscode
*.sln
*.vcxproj

# ImGui
*.ini

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app